In [2]:
from sklearn.linear_model import LinearRegression

In [3]:
import pandas

In [98]:
x_train = pandas.read_csv('training_set_features.csv')
x_test = pandas.read_csv('test_set_features.csv')
y_train = pandas.read_csv('training_set_labels.csv')
y_test = pandas.read_csv('submission_format.csv')

In [99]:
x_train =  x_train.drop('respondent_id', axis = 1)

In [100]:
x_test =  x_test.drop('respondent_id', axis = 1)
y_train =  y_train.drop('respondent_id', axis = 1)
Y_test =  y_test.drop('respondent_id', axis = 1)

In [101]:
x_train = x_train.fillna(0)
x_test = x_test.fillna(0)

In [102]:
x_train = x_train.drop(['household_adults', 'household_children', 'employment_industry', 'employment_occupation'], axis = 1)
x_train.head()

,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_xyz,...,age_group,education,race,sex,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,55 - 64 Years,< 12 Years,White,Female,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,35 - 44 Years,12 Years,White,Male,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City"
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18 - 34 Years,College Graduate,White,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City"
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,65+ Years,12 Years,White,Female,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City"
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,45 - 54 Years,Some College,White,Female,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City"

In [103]:
def convert(col):
    dic = {}
    j = 0
    for i in x_train.loc[:, col]:
        if i not in dic:
            dic[i] = len(dic)
        x_train.loc[j, col] = dic[i]
        j += 1
    j = 0
    for i in x_test.loc[:, col]:
        x_test.loc[j, col] = dic[i]
        j += 1

In [104]:
convert('sex')
convert('race')
convert('rent_or_own')
convert('age_group')
convert('employment_status')
convert('hhs_geo_region')
convert('census_msa')
convert('education')
convert('income_poverty')
convert('marital_status')
x_train.head()

,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_xyz,...,age_group,education,race,sex,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,1,1,0,1,0,0,1,1,1,1
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2,2,0,1,1,0,0,1,2,1
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,3,1,0,0,0,0,1,0,3,2
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,4,3,0,0,1,1,0,1,2,1

In [106]:
x_test = x_test.drop(['household_adults', 'household_children', 'employment_industry', 'employment_occupation'], axis = 1)
x_test.head()

,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_xyz,...,age_group,education,race,sex,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa
0,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,1,2,3,0,2,0,1,1,7,1
1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2,1,0,1,0,0,1,1,1,0
2,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0,2,0,1,2,1,0,1,3,0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,3,1,0,0,1,1,0,0,3,1
4,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,1,1,1,0,1,0,0,1,5,0

In [144]:
model = LinearRegression()
model.fit(x_train, y_train)
predictions = model.predict(x_test)

In [145]:
import numpy as np
predictions = np.round_(predictions, 2)
predictions = abs(predictions)
print(predictions)

[[0.19 0.33]
 [0.02 0.08]
 [0.28 0.51]
 ...
 [0.28 0.41]
 [0.06 0.37]
 [0.58 0.61]]

In [146]:
predictions = list(predictions)
index = 26707
for i in range(len(predictions)):
    predictions[i] = list(predictions[i])
    predictions[i].insert(0, index)
    index += 1

In [147]:
predictions = pandas.DataFrame(predictions)
predictions

           0     1     2
0      26707  0.19  0.33
1      26708  0.02  0.08
2      26709  0.28  0.51
3      26710  0.52  0.81
4      26711  0.36  0.55
...      ...   ...   ...
26703  53410  0.42  0.60
26704  53411  0.13  0.48
26705  53412  0.28  0.41
26706  53413  0.06  0.37
26707  53414  0.58  0.61

[26708 rows x 3 columns]

In [150]:
predictions.columns = ['respondent_id', 'h1n1_vaccine', 'seasonal_vaccine']

In [151]:
predictions.to_csv('submission.csv', index=False)